<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Furnitures" value="Ikea\AllLivingRoom.xml" />
    
    <!--<add key="Language" value="fr-FR" />-->
    <add key="fr-FR_numbers" value="zéro|un|deux|trois|quatre|cinq|six|sept|huit|neuf" />
    <add key="fr-FR_trigger" value="" />
    <add key="fr-FR_fromhere" value="je veux un meuble de là|un meuble de là" />
    <add key="fr-FR_tohere" value="jusqu'ici|et jusqu'ici" />
    <add key="fr-FR_width" value="un meuble avec cette largeur|un meuble de cette largeur|la largeur|avec cette largeur" />
    <add key="fr-FR_height" value="la hauteur|avec cette hauteur|et avec cette hauteur" />
    <add key="fr-FR_search" value="chercher le meuble|rechercher le meuble|trouver un meuble|trouver le meuble|trouve moi ce meuble" />
    <add key="fr-FR_realtime" value="rendu en temps réel|en temps réel" />
    <add key="fr-FR_restart" value="recommencer|faire une autre recherche" />
    <add key="fr-FR_next" value="meuble suivant|modèle suivant|voir un autre meuble|ça ne me plaît pas|je ne l'aime pas|montre moi autre chose" />
    <add key="fr-FR_move" value="déplacer le meuble|on va le mettre ici|on va le mettre là|on va le déplacer|je vais le poser ici" />
    <add key="fr-FR_confirm" value="confirmer le meuble|confirmer l'emplacement|poser le meuble|c'est parfait|ça me plaît|ce meuble me plaît" />
    <add key="fr-FR_shelves" value="avec # étagères|et # étagères" />
    <add key="fr-FR_doors" value="avec # portes|et # portes" />

    <add key="Language" value="en-US" />
    <add key="en-US_numbers" value="zeo|one|two|three|four|five|six|seven|eight|nine|ten" />
    <add key="en-US_trigger" value="" />
    <add key="en-US_fromhere" value="a cupboard here|a cupboard from here|a closet from here|a furniture from here|from here" />
    <add key="en-US_tohere" value="and going to there|and until there" />
    <add key="en-US_width" value="a furniture with this width|with this width" />
    <add key="en-US_height" value="with this height" />
    <add key="en-US_search" value="search for me|search this furniture" />
    <add key="en-US_realtime" value="realtime preview" />
    <add key="en-US_restart" value="restart|search something else" />
    <add key="en-US_next" value="next furniture|see something else|I don't like it|show me another" />
    <add key="en-US_move" value="move the furniture|let's move it" />
    <add key="en-US_confirm" value="I want it here|I like it here|postion is ok|location is ok|drop here|confirm location|that's perfect" />
    <add key="en-US_shelves" value="with # shelf|with # shelves|and with # shelf|and with # shelves" />
    <add key="en-US_doors" value="with # doors|and # doors" />
  </appSettings>
</configuration>